/mooc-java-programming-i/part02-Part02_14.Counting/target/
/mooc-java-programming-i/part02-Part02_15.CountingToHundred/target/
/mooc-java-programming-i/part02-Part02_16.FromWhereToWhere/target/
/mooc-java-programming-i/part02-Part02_17.SumOfASequence/target/
/mooc-java-programming-i/part02-Part02_18.SumOfASequenceTheSequel/target/
/mooc-java-programming-i/part02-Part02_19.Factorial/target/
/mooc-java-programming-i/part02-Part02_20.RepeatingBreakingAndRemembering/target/
/mooc-java-programming-i/part02-Part02_21.InAHoleInTheGround/target/
/mooc-java-programming-i/part02-Part02_22.Reprint/target/
/mooc-java-programming-i/part02-Part02_23.FromOneToParameter/target/
/mooc-java-programming-i/part02-Part02_24.FromParameterToOne/target/
/mooc-java-programming-i/part02-Part02_28.Word/target/
/mooc-java-programming-i/part02-Part02_26.DivisibleByThree/target/
/mooc-java-programming-i/part02-Part02_27.NumberUno/target/
/mooc-java-programming-i/part02-Part02_29.Summation/target/
/mooc-java-programming-i/part02-Part02_30.Smallest/target/
/mooc-java-programming-i/part02-Part02_31.Greatest/target/
/mooc-java-programming-i/part02-Part02_32.Averaging/target/
/mooc-java-programming-i/part02-Part02_33.StarSign/target/
/mooc-java-programming-i/part02-Part02_34.AdvancedAstrology/target/
/mooc-java-programming-i/part03-Part03_01.ThirdElement/target/
/mooc-java-programming-i/part03-Part03_02.SecondPlusThird/target/
/mooc-java-programming-i/part03-Part03_03.IndexOutOfBoundsException/target/
/mooc-java-programming-i/part03-Part03_04.ListSize/target/
/mooc-java-programming-i/part03-Part03_05.LastInList/target/
/mooc-java-programming-i/part03-Part03_06.FirstAndLast/target/
/mooc-java-programming-i/part03-Part03_07.RememberTheseNumbers/target/
/mooc-java-programming-i/part03-Part03_08.OnlyTheseNumbers/target/
/mooc-java-programming-i/part03-Part03_09.GreatestInList/target/
/mooc-java-programming-i/part03-Part03_10.IndexOf/target/
/mooc-java-programming-i/part03-Part03_11.IndexOfSmallest/target/
/mooc-java-programming-i/part03-Part03_12.SumOfAList/target/
/mooc-java-programming-i/part03-Part03_13.AverageOfAList/target/
/mooc-java-programming-i/part03-Part03_14.OnTheList/target/
/mooc-java-programming-i/part03-Part03_15.PrintInRange/target/
/mooc-java-programming-i/part03-Part03_16.Sum/target/
/mooc-java-programming-i/part03-Part03_17.RemoveLast/target/
